*{ margin: 0; padding: 0; box-sizing: border-box;}
.nav-itemss-list{
    background-color: #18171d;
}
.nav-itemss-list li a:hover{
    color: #782ce8;
 cursor: pointer;
 font-weight: 700;
}
.dropdown-itemss a{
    color: white;
    background-color: #18171d;
}
.nav-baground{
    background-color: #18171d;
    border-bottom: 1px solid #2e2e2e;
}
.nav-itemss a{
    color: white;
    /* margin: .2rem .2rem; */
}
 .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); */
   }
 .navbar-toggler{
     border: 1px solid white !important;
   }